<!-- error.hbs -->
<head>
    <link rel="stylesheet" href="/error.css">
</head>
{{#> layout}}
<div class="error-container">
    <h2>Error</h2>
    <p>{{message}}</p>
    <a href="/">Return to Home</a>
</div>
{{/layout}}